mixin header(mixes)

  - const { topNav, mainNav } = require('views/components/header/data.js')
  - const css = require('views/components/header/_css.json')

  header(class=css.header class=mixes)
    div(class=css.top)
      div(class=css.container)
        div(class=css.call)
          span(class=css.callLabel) Для онлайн покупок <br> 9:00 — 20:00
          a(class=css.phoneLink href='tel:+78008888888') 8 800 888-88-88
          button(class=css.orderCall type='button') Заказать звонок
        nav(class=css.topNav)
          each link in topNav
            a(class=css.topLink href='#')= link
    div(class=css.main)
      div(class=css.container)
        a(class=css.logoLink href='index.html')
          img(class=css.logo src=require('public/img/logo.svg') alt='Логотип')

        nav(class=css.mainNav)
          each link, idx in mainNav
            a(class=css.mainLink class=(idx === 0) && 'active')= link
        
        div(class=css.bar)
          a(class=css.searchLink href='#')
            img(src=require('views/components/header/img/icon-search.svg') alt='Иконка поиска')
          a(class=css.compareLink href='#')
            img(src=require('views/components/header/img/icon-compare.svg') alt='Иконка сравнения')
          a(class=css.favouritesLink href='#')
            span(class=css.count) 12
            img(src=require('views/components/header/img/icon-favourites.svg') alt='Иконка избранное')
          a(class=css.cartLink href='#')
            span(class=css.count) 1
            img(src=require('views/components/header/img/icon-cart.svg') alt='Иконка корзины')



